#root {
  max-width: 1280px;
  margin: 5rem auto; /* This line centers the element horizontally */
  padding: 2rem;
}

.cardGrid{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  gap: 4rem;
  margin: 5rem 0 5rem;
}

.score {
  text-align: center;
  font-weight: 600;
}

body {
  margin: 0; 
}

